:root {
    --primary-color: #dda15e;
    --secondary-color: #fefae0;
}

* {
    margin: 0;
    box-sizing: 0;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

#menuTop {
    background-color: var(--primary-color);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-inline : 6rem;
    padding-block: 3rem;
}

#menuTop img {
    background-color: var(--secondary-color);

    width: 10rem;
    padding: 2rem;
    border-radius: 20px;
}

#menuTop .esquerda {
    display: flex;
    align-items: center;

    font-size: 8rem;
    font-weight: bold;
    gap: 1.5rem;

    color: var(--secondary-color);
}

#menuTop button {
    background-color: var(--secondary-color);
    color: var(--primary-color);

    font-size: 4rem;
    font-weight: 700;

    padding-inline: 3rem;
    padding-block: 1.5rem;
    border-radius: 20px;
    border: none;

    text-decoration: none;
}

#workTable {
    display: flex;
    flex-direction: column;

    background-color: var(--secondary-color);
}

#workTable canvas {
    width: 200%;
    height: 200%;
}

